<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Recuperar Senha</title>
  </head>
  <body style="margin: 0; padding: 0; background-color: #f8f8f8">
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#f8f8f8"
    >
      <tr>
        <td align="center" style="padding: 20px 0">
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              background-color: #ffffff;
              border-radius: 8px;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            "
          >
            <tr>
              <td
                style="
                  background-color: #22c55e;
                  height: 10px;
                  border-top-left-radius: 8px;
                  border-top-right-radius: 8px;
                "
              ></td>
            </tr>
            <tr>
              <td align="center" style="padding: 30px 20px 10px 20px">
                <img
                  src="https://pztalyayeynwcrwgordl.supabase.co/storage/v1/object/public/notelab-medias/media-web/logo.png"
                  alt="Logo Notelab"
                  style="width: 100px; height: auto; margin-bottom: 20px"
                />
                <h2
                  style="
                    font-size: 24px;
                    color: #22c55e;
                    font-weight: bold;
                    font-family: Arial, sans-serif;
                    margin: 0 0 10px 0;
                  "
                >
                  Recupere sua senha:
                </h2>
                <p
                  style="
                    font-size: 16px;
                    font-family: Arial, sans-serif;
                    color: #333;
                    margin: 20px 0;
                  "
                >
                  Olá, aqui está o token para executar a recuperação de sua
                  senha:
                  <br /><br />
                  <div>
                  <strong style="font-size: 20px">{{ token }}</strong>
                </p>
              </td>
            </tr>
            <tr>
              <td
                align="center"
                style="
                  padding: 20px 20px 30px 20px;
                  font-size: 14px;
                  color: #999;
                  font-family: Arial, sans-serif;
                "
              >
                <strong>Notelab.io</strong><br />
                Este e-mail é automático. Não responda.
              </td>
            </tr>
            <tr>
              <td
                style="
                  background-color: #121212;
                  height: 10px;
                  border-bottom-left-radius: 8px;
                  border-bottom-right-radius: 8px;
                "
              ></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
